.wrap {
  flex-direction: row;

  display: flex;

  width: 100vw;
  align-items: flex-start;
  justify-content: center;
}

.left {
  display: flex;
  flex-direction: column;

  /* align-items: center; */
  justify-content: center;
  align-items: center;

  /* align-items: center; */
}

.mid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
}
.right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
}

.left img {
  height: 100%;
  width: 100%;
  margin: 0px 5px 10px 0px;
}

.mid img {
  height: 100%;
  width: 97%;
  margin: 0px 5px 10px 10px;
}

.right img {
  height: 100%;
  width: 97%;
  margin: 0px 5px 10px 10px;
}

/* if its row , align items affect vertically since its major axis  */
