body {
  margin: 10px;
  border-color: red;
}
.box {
  width: 200px;
  height: 60px;
  padding: 20px;
  border: 2px solid red;
  background: green;
  color: white;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 100px;
}
.overflow {
  height: 200px;
  width: 100px;
  border: 10px;
  overflow: scroll;
}
