html {
  /* font-size: 62.5%; */
}

div {
  display: inline;
  margin: 20px;
}

input:focus {
  outline: 0;
  border: 1px solid #86b7fe;
  border-radius: 5px;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

button {
  color: white;
  background-color: skyblue;
  padding: 1rem;
  border-radius: 5px;
  border-color: white;
  margin: 1rem;
}

button:hover {
  cursor: pointer;
  transition: 0.5s;
  color: red;
}
