html {
  font-size: 62.5%;
}
body {
  background-color: #f5f5f5;
  font-size: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  height: 100vh;
  width: 100vw;
}

.heading {
  font-weight: bold;
  font-size: 1.7rem;
  text-align: center;
}

input:focus {
  outline: 0;
  border: 2px solid #86b7fe;

  border-radius: 5px;
  box-shadow: 0 0 2rem #b9d3fa;
  /* width: 100%; */
}

button {
  background: #0d6efd;
  color: white;
  border-radius: 4rem;
  font-size: 1.5rem;
  border: 0;
  width: 100%;
  height: 5%;
  padding: 1rem 12rem;
}

.last {
  color: gray;
  text-align: center;
  margin-top: 0;
}

.box {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}
#email {
  height: 100%;
  padding: 0.7rem;

  color: gray;
  width: 100%;
}

#password {
  height: 50%;

  color: gray;
  padding: 0.7rem;
  width: 100%;
  border: 0;
}

.last {
  margin-top: 1rem;
  font-size: 1.5rem;
}

input {
  border-color: #ced4da;
}
