table {
  border-collapse: collapse;
}

td,
tr {
  border: 2px solid black;
  height: 50px;
  width: 50px;
  text-align: center;
}
th {
  border: 2px solid black;
  height: 50px;
  width: 50px;
}
tr :nth-child(2n) {
  background-color: aqua;
}
tr :nth-child(odd) {
  background-color: chartreuse;
}
tr :nth-child(even) {
  background-color: blue;
}
